<footer style="background-color: #333333; color: #ffffff;">
    <div id="left-footer">
        <h3></h3>
        <p>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Category</a>
                </li>
                <li>
                    <a href="">About Us</a>
                </li>
                <li>
                    <a href="#">Collection</a>
                </li>
            </ul>
        </p>
    </div>

    <div id="right-footer">
        <h3>Thank You</h3>
        <div id="social-media-footer">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
        <p></p>
    </div>
</footer>
